<<<<<<< HEAD
    .header {
        text-align: center;
        font-family: Megrim-Regular;
    }
    
    * {
        background-color: black;
        color: blanchedalmond;
    }
=======
body {
    background-color: black;
}
>>>>>>> 4c65cdd76d73e907f4d0eeaaa95c794dcabd89fa
